body {
	text-align: center;
	/*background-color: rgba(195, 195, 220, 0.2);*/
	/*background-image: linear-gradient(120deg, rgba(195, 195, 220, 0.2), rgba(195, 195, 220, 0.4));*/
	/*background-image: linear-gradient(120deg, #e5f6fe 10%, #b7dfe5);*/
	background-image: linear-gradient(120deg, rgba(110,110,110,0.1), rgba(110,110,110,0.3)), url("images/background.jpg");
	background-size: fill;
	margin: 20px;
	font-family: 'Open Sans', sans-serif;
}

.avatar {
	width: 250px;
	height: 250px;
	margin: auto;
	border-radius: 50%;
	object-fit: cover;
	box-shadow: 1px 1px 1px white;
	margin-bottom: 20px;
}

h1 {
	font-family: 'Merriweather', serif;
	font-size: 60px;
	color: #535368;
	margin-bottom: 0px;
	margin-top: 10px;
}

h3 {
	font-family: 'Merriweather', serif;
	font-size: 30px;
	color: #2869B8;
	margin-top: 15px;
}

p {
	font-weight: lighter;
	margin-bottom: 30px;
}

.body {
	font-size: 18px;
	color: #535368;
}

#link-lewagon {
	margin-top: 10px;
	text-decoration: none;
	background-color: #4D9DE0;
	color: white;
	padding: 10px 30px;
	border-radius: 10px;
	display: inline-block;
	font-size: 20px;
	box-shadow: 1px 1px 1px #2869B8;
}

#link-lewagon:hover {
	background-color: #2869B8;
	color: white;
	box-shadow: none;
}

h2 {
	font-family: 'Merriweather', serif;
	font-size: 30px;
	color: #2869B8;
	margin-bottom: 0px;
	padding: 10px;
	font-weight: bolder;
}

li {
	display: inline;
}

li > a {
	color: #535368;
	font-size: 50px;
	padding: 10px;
	margin: 0px 5px;
}

i:hover {
	color: #4D9DE0;
	transition: 1s;
}

ul {
	padding: 0px;
}

.card {
	background-color: rgba(245, 245, 245, 0.95);
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 20px;
	box-shadow: 2px 2px 2px rgba(195, 195, 220, 0.4);
	min-height: 150px;
}

.container {
	width: 750px;
	margin: 0 auto;
}

img {
	display: block;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}